@charset "UTF-8";
@-webkit-keyframes efectoLogo {
  0% {
    opacity: 50%;
  }
  10% {
    opacity: 60%;
  }
  25% {
    opacity: 75%;
  }
  40% {
    opacity: 85%;
  }
  50% {
    opacity: 100%;
  }
  60% {
    opacity: 85%;
  }
  75% {
    opacity: 75%;
  }
  90% {
    opacity: 60%;
  }
  100% {
    opacity: 50%;
  }
}
@keyframes efectoLogo {
  0% {
    opacity: 50%;
  }
  10% {
    opacity: 60%;
  }
  25% {
    opacity: 75%;
  }
  40% {
    opacity: 85%;
  }
  50% {
    opacity: 100%;
  }
  60% {
    opacity: 85%;
  }
  75% {
    opacity: 75%;
  }
  90% {
    opacity: 60%;
  }
  100% {
    opacity: 50%;
  }
}

* {
  margin: 0;
  padding: 0;
}

header .header__nav {
  background-color: #9a1ca5 !important;
  padding-top: 0%;
  padding-bottom: 5px;
}

header .header__nav .header__slogan {
  padding-left: 20px;
  color: white !important;
}

header .header__nav .header__opciones {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header .header__nav .header__opciones .header__lista {
  margin: 0% !important;
}

header .header__nav .header__opciones .header__lista .header__link {
  color: white !important;
}

header .header__nav .header__opciones .header__lista .header__link:hover {
  background-color: white !important;
  color: #eb9422 !important;
  border-radius: 5px;
  -webkit-transition: .2s;
  transition: .2s;
}

header .header__nav .header__opciones .header__lista .header__listaOculta .header__listaOculta__item {
  color: #9a1ca5;
}

header .header__nav .header__opciones .header__lista .header__listaOculta .header__listaOculta__item:hover {
  background-color: #9a1ca5 !important;
  color: white !important;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .header__nav .header__opciones .header__boton {
  margin: 5px;
  color: white;
  border-color: white;
}

header .header__nav .header__opciones .header__boton:hover {
  background-color: #eb9422;
  border-color: #eb9422;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .header__nav .header__hamburguesa {
  background-color: #eb9422 !important;
  color: white;
  border-color: white;
}

header .header__imagen {
  margin-top: 0%;
  width: 100vw;
  position: fixed;
  z-index: -99;
}

@media (max-width: 480px) and (min-width: 320px) {
  .header__logo {
    width: 20px;
  }
  .header__logo .header__logoImagen {
    width: 4rem;
  }
  .header__slogan {
    padding-left: 5px !important;
    font-size: 15px;
  }
}

@media (max-width: 720px) and (min-width: 481px) {
  .header__logo {
    width: 20px;
  }
  .header__logo .header__logoImagen {
    width: 4rem;
  }
  .header__slogan {
    padding-left: 5px !important;
    font-size: 25px;
  }
}

@media (max-width: 1150px) and (min-width: 720px) {
  .header__logo {
    width: 50px;
  }
  .header__logo .header__logoImagen {
    width: 5rem;
  }
  .header__slogan {
    padding-left: 10px !important;
    font-size: 25px;
  }
}

* {
  margin: 0;
  padding: 0;
}

main {
  margin-top: 50px;
  padding: 0% !important;
  /*----Sección de presentación----*/
  /*----Sección de opinión----*/
  /*----Sección de postulado----*/
}

main .row {
  width: 100%;
}

main .main__que {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0%;
}

main .main__que .main__queLogo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 10%;
  -webkit-animation-name: efectoLogo;
          animation-name: efectoLogo;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

main .main__que .main__queTitulo {
  color: #9a1ca5;
  background-color: white;
}

main .main__que .main__queTexto {
  background-color: white;
  height: 100%;
}

main .main__que .main__queTexto .main__queTexto__parrafo {
  padding: 20px;
}

main .main__carousel {
  padding: 0% !important;
  padding: 0% !important;
}

main .main__carousel .main__carouselLetrasbox {
  background-color: rgba(255, 255, 255, 0.432);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 1px #9a1ca5;
          box-shadow: 0px 0px 15px 1px #9a1ca5;
}

main .main__carousel .main__carouselLetrasbox .main__carouselLetrasbox__titulo {
  color: #9a1ca5;
  font-size: 2em;
}

main .row {
  width: 100%;
  margin-left: 0% !important;
}

main .row .opinion {
  background-color: #9a1ca5;
  color: white;
  padding: 10px;
}

main .row .opinion .opinion__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .row .opinion .opinion__icono {
  color: #eb9422;
}

main .row .opinion .opinion__carouselItem {
  padding: 20px !important;
}

main .postulado {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "postulado__titulo postulado__titulo postulado__titulo" "postulado__paso1 postulado__paso2 postulado__paso3" "postulado__boton postulado__boton postulado__boton";
  -ms-grid-rows: 1fr auto auto;
      grid-template-rows: 1fr auto auto;
  -ms-grid-columns: (30%)[3];
      grid-template-columns: repeat(3, 30%);
  background-image: url(../Multimedia/fondo1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
}

main .postulado .postulado__titulo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: postulado__titulo;
  color: #eb9422;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 5px;
  font-size: 2rem;
}

main .postulado .postulado__paso1 {
  background-color: #eb9422;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: postulado__paso1;
}

main .postulado .postulado__paso1 img {
  width: 7rem;
}

main .postulado .postulado__paso1 li {
  color: white;
}

main .postulado .postulado__paso1 p {
  color: white;
  text-align: center;
}

main .postulado .postulado__paso1:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 5px #9a1ca5 solid;
}

@media (max-width: 800px) and (min-width: 320px) {
  main .postulado .postulado__paso1 {
    background-color: #eb9422;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 25px;
  }
  main .postulado .postulado__paso1 img {
    width: 3rem;
  }
  main .postulado .postulado__paso1 p {
    text-align: center;
  }
  main .postulado .postulado__paso1 p, main .postulado .postulado__paso1 li {
    color: white;
    font-size: 12px;
  }
}

main .postulado .postulado__paso2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: postulado__paso2;
  background-color: #eb9422;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
}

main .postulado .postulado__paso2 img {
  width: 7rem;
}

main .postulado .postulado__paso2 li {
  color: white;
}

main .postulado .postulado__paso2 p {
  color: white;
  text-align: center;
}

main .postulado .postulado__paso2:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 5px #9a1ca5 solid;
}

@media (max-width: 800px) and (min-width: 320px) {
  main .postulado .postulado__paso2 {
    background-color: #eb9422;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 25px;
  }
  main .postulado .postulado__paso2 img {
    width: 3rem;
  }
  main .postulado .postulado__paso2 p {
    text-align: center;
  }
  main .postulado .postulado__paso2 p, main .postulado .postulado__paso2 li {
    color: white;
    font-size: 12px;
  }
}

main .postulado .postulado__paso3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: postulado__paso3;
  background-color: #eb9422;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
}

main .postulado .postulado__paso3 img {
  width: 7rem;
}

main .postulado .postulado__paso3 li {
  color: white;
}

main .postulado .postulado__paso3 p {
  color: white;
  text-align: center;
}

main .postulado .postulado__paso3:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 5px #9a1ca5 solid;
}

@media (max-width: 800px) and (min-width: 320px) {
  main .postulado .postulado__paso3 {
    background-color: #eb9422;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 25px;
  }
  main .postulado .postulado__paso3 img {
    width: 3rem;
  }
  main .postulado .postulado__paso3 p {
    text-align: center;
  }
  main .postulado .postulado__paso3 p, main .postulado .postulado__paso3 li {
    color: white;
    font-size: 12px;
  }
}

main .postulado .postulado__boton {
  border-color: #9a1ca5 !important;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: postulado__boton;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  -ms-grid-column-align: center;
      justify-self: center;
}

main .postulado .postulado__boton a {
  text-decoration: none !important;
  color: #9a1ca5 !important;
}

main .postulado .postulado__boton:hover {
  background-color: #eb9422;
  color: white !important;
  border-color: white !important;
}

main .postulado .postulado__boton:hover a {
  color: white !important;
}

@media (max-width: 720px) and (min-width: 320px) {
  main .postulado {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "postulado__titulo" "postulado__paso1" "postulado__paso2" "postulado__paso3" "postulado__boton";
    -ms-grid-rows: auto (1fr)[3];
        grid-template-rows: auto repeat(3, 1fr);
    -ms-grid-columns: 60%;
        grid-template-columns: 60%;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .postulado .postulado__titulo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: postulado__titulo;
    color: #eb9422;
    -ms-grid-column-align: center;
        justify-self: center;
    padding: 2px;
    font-size: 1.5rem;
    text-align: center;
  }
  main .postulado .postulado__paso1 {
    background-color: #eb9422;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 25px;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: postulado__paso1;
  }
  main .postulado .postulado__paso1 img {
    width: 7rem;
  }
  main .postulado .postulado__paso1 li {
    color: white;
  }
  main .postulado .postulado__paso1 p {
    color: white;
    text-align: center;
  }
  main .postulado .postulado__paso1:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border: 5px #9a1ca5 solid;
  }
}

@media (max-width: 720px) and (min-width: 320px) and (max-width: 800px) and (min-width: 320px) {
  main .postulado .postulado__paso1 {
    background-color: #eb9422;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 25px;
  }
  main .postulado .postulado__paso1 img {
    width: 3rem;
  }
  main .postulado .postulado__paso1 p {
    text-align: center;
  }
  main .postulado .postulado__paso1 p, main .postulado .postulado__paso1 li {
    color: white;
    font-size: 12px;
  }
}

@media (max-width: 720px) and (min-width: 320px) {
  main .postulado .postulado__paso2 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: postulado__paso2;
    background-color: #eb9422;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 25px;
  }
  main .postulado .postulado__paso2 img {
    width: 7rem;
  }
  main .postulado .postulado__paso2 li {
    color: white;
  }
  main .postulado .postulado__paso2 p {
    color: white;
    text-align: center;
  }
  main .postulado .postulado__paso2:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border: 5px #9a1ca5 solid;
  }
}

@media (max-width: 720px) and (min-width: 320px) and (max-width: 800px) and (min-width: 320px) {
  main .postulado .postulado__paso2 {
    background-color: #eb9422;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 25px;
  }
  main .postulado .postulado__paso2 img {
    width: 3rem;
  }
  main .postulado .postulado__paso2 p {
    text-align: center;
  }
  main .postulado .postulado__paso2 p, main .postulado .postulado__paso2 li {
    color: white;
    font-size: 12px;
  }
}

@media (max-width: 720px) and (min-width: 320px) {
  main .postulado .postulado__paso3 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: postulado__paso3;
    background-color: #eb9422;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 25px;
  }
  main .postulado .postulado__paso3 img {
    width: 7rem;
  }
  main .postulado .postulado__paso3 li {
    color: white;
  }
  main .postulado .postulado__paso3 p {
    color: white;
    text-align: center;
  }
  main .postulado .postulado__paso3:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border: 5px #9a1ca5 solid;
  }
}

@media (max-width: 720px) and (min-width: 320px) and (max-width: 800px) and (min-width: 320px) {
  main .postulado .postulado__paso3 {
    background-color: #eb9422;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 25px;
  }
  main .postulado .postulado__paso3 img {
    width: 3rem;
  }
  main .postulado .postulado__paso3 p {
    text-align: center;
  }
  main .postulado .postulado__paso3 p, main .postulado .postulado__paso3 li {
    color: white;
    font-size: 12px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #9a1ca5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 20px;
}

footer .footer__opciones {
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__opciones .footer__opcionesLista {
  list-style-type: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer__opciones .footer__opcionesLista .footer__opcionesLink {
  text-decoration: none;
  color: white;
}

footer .footer__opciones .footer__opcionesLista .footer__opcionesLink:hover {
  color: #eb9422;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer .footer__redes {
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__redes .footer__redesLista {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 30px;
}

footer .footer__redes .footer__redesLista .footer__redesIcono {
  text-decoration: none;
  color: white;
  padding: 5px;
}

footer .footer__redes .footer__redesLista .footer__redesIcono:hover {
  color: #eb9422;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

@media (max-width: 720px) and (min-width: 320px) {
  .footer__opciones {
    width: 50%;
  }
  .footer__opciones .footer__opcionesLink {
    font-size: 12px;
  }
}

.mainCategorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10px;
}

.mainCategorias .mainCategorias__card {
  border: 2px solid #eb9422;
  margin-top: 70px;
}

.mainCategorias .mainCategorias__card:hover {
  -webkit-box-shadow: 0px 0px 15px 1px #eb9422;
          box-shadow: 0px 0px 15px 1px #eb9422;
}

.mainCategorias .mainCategorias__card:hover .card__img {
  -webkit-transform: scale(1.1, 1);
          transform: scale(1.1, 1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.mainCategorias .mainCategorias__card .card__titulo {
  color: #9a1ca5;
}

.mainCategorias .mainCategorias__card .card__boton {
  border: 1px solid #9a1ca5;
  background-color: white;
  color: #9a1ca5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.mainCategorias .mainCategorias__card .card__boton:hover {
  background-color: #eb9422;
  color: white;
  border-color: #eb9422;
}

body .mainContainer {
  height: 100vh;
  background-image: url(../Multimedia/fondo1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body .mainContainer .mainFormulario__titulo {
  color: #9a1ca5;
  font-size: 2rem;
  text-align: center;
  padding: 20px;
}

body .mainContainer .mainFormulario__contenedor {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .mainContainer .mainFormulario__contenedor .mainFormulario__datos {
  border: 2px solid #9a1ca5;
  background-color: rgba(137, 43, 226, 0.363);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  font-weight: bold;
}

body .mainContainer .mainFormulario__contenedor .mainFormulario__datos:hover {
  background-color: #9a1ca5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .mainContainer .mainFormulario__contenedor .mainFormulario__texto {
  border: 2px solid #9a1ca5;
  background-color: rgba(137, 43, 226, 0.363);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  font-weight: bold;
}

body .mainContainer .mainFormulario__contenedor .mainFormulario__texto:hover {
  background-color: #9a1ca5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .mainContainer .mainFormulario__contenedor .mainFormulario__texto .mainFormulario__botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5px;
}

body .mainContainer .mainFormulario__contenedor .mainFormulario__texto .mainFormulario__botones .mainFormulario__boton {
  margin: 5px;
  color: white;
  border-color: white;
}

body .mainContainer .mainFormulario__contenedor .mainFormulario__texto .mainFormulario__botones .mainFormulario__boton:hover {
  background-color: #eb9422;
  border-color: #eb9422;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 720px) and (min-width: 320px) {
  .mainContainer {
    margin-top: 45px;
  }
  .mainContainer .mainFormulario__titulo {
    font-size: 1.1rem;
    padding: 10px;
  }
}

@media (max-width: 1150px) and (min-width: 720px) {
  .mainContainer {
    margin-top: 60px;
  }
  .mainContainer .mainFormulario__titulo {
    font-size: 1.5rem;
  }
}

.mainPostulado {
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainPostulado .mainPostulado__titulo {
  color: #9a1ca5;
  font-size: 2rem;
  text-align: center;
}

.mainPostulado .mainPostulado__contenedorDatos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainPostulado .mainPostulado__contenedorDatos .mainPostulado__datos {
  border: 2px solid #9a1ca5;
  background-color: rgba(137, 43, 226, 0.363);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  font-weight: bold;
}

.mainPostulado .mainPostulado__contenedorDatos .mainPostulado__datos:hover {
  background-color: #9a1ca5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.mainPostulado .mainPostulado__contenedorDatos .mainPostulado__categorias {
  border: 2px solid #9a1ca5;
  background-color: rgba(137, 43, 226, 0.363);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  font-weight: bold;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px;
}

.mainPostulado .mainPostulado__contenedorDatos .mainPostulado__categorias:hover {
  background-color: #9a1ca5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.mainPostulado .mainPostulado__texto {
  border: 2px solid #9a1ca5;
  background-color: rgba(137, 43, 226, 0.363);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  font-weight: bold;
}

.mainPostulado .mainPostulado__texto:hover {
  background-color: #9a1ca5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.mainPostulado .mainPostulado__texto .mainPostulado__botones {
  margin: 5px;
}

.mainPostulado .mainPostulado__texto .mainPostulado__botones .mainPostulado__boton {
  margin: 5px;
  color: white;
  border-color: white;
}

.mainPostulado .mainPostulado__texto .mainPostulado__botones .mainPostulado__boton:hover {
  background-color: #eb9422;
  border-color: #eb9422;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 480px) and (min-width: 320px) {
  .mainPostulado {
    margin-top: 50px;
  }
  .mainPostulado .mainPostulado__titulo {
    padding: 5px;
    font-size: 1.3rem;
  }
  .mainPostulado .mainPostulado__contenedorDatos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */