* {
  margin: 0;
  padding: 0;
}

header .header__nav {
  background-color: #9a1ca5 !important;
  padding-top: 0%;
  padding-bottom: 5px;
}

header .header__nav .header__slogan {
  padding-left: 20px;
  color: white !important;
}

header .header__nav .header__opciones {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header .header__nav .header__opciones .header__lista {
  margin: 0% !important;
}

header .header__nav .header__opciones .header__lista .header__link {
  color: white !important;
}

header .header__nav .header__opciones .header__lista .header__link:hover {
  background-color: white !important;
  color: #eb9422 !important;
  border-radius: 5px;
  -webkit-transition: .2s;
  transition: .2s;
}

header .header__nav .header__opciones .header__lista .header__listaOculta .header__listaOculta__item {
  color: #9a1ca5;
}

header .header__nav .header__opciones .header__lista .header__listaOculta .header__listaOculta__item:hover {
  background-color: #9a1ca5 !important;
  color: white !important;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .header__nav .header__opciones .header__boton {
  border-color: white !important;
  color: white !important;
}

header .header__nav .header__opciones .header__boton:hover {
  background-color: #eb9422 !important;
  color: white !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .header__nav .header__hamburguesa {
  background-color: #eb9422 !important;
  color: white;
  border-color: white;
}

header .header__imagen {
  margin-top: 0%;
  position: fixed;
  z-index: -99;
}

@media (max-width: 480px) and (min-width: 320px) {
  .header__logo {
    width: 20px;
  }
  .header__logo .header__logoImagen {
    width: 4rem;
  }
  .header__slogan {
    padding-left: 5px !important;
    font-size: 15px;
  }
}

@media (max-width: 720px) and (min-width: 481px) {
  .header__logo {
    width: 20px;
  }
  .header__logo .header__logoImagen {
    width: 4rem;
  }
  .header__slogan {
    padding-left: 5px !important;
    font-size: 25px;
  }
}

@media (max-width: 1150px) and (min-width: 720px) {
  .header__logo {
    width: 50px;
  }
  .header__logo .header__logoImagen {
    width: 5rem;
  }
  .header__slogan {
    padding-left: 10px !important;
    font-size: 25px;
  }
}

* {
  margin: 0;
  padding: 0;
}

main {
  margin-top: 50px;
  padding: 0% !important;
}

main .row {
  width: 100%;
}

main .row .main__que {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0%;
}

main .row .main__que .main__queLogo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 5%;
}

main .row .main__que .main__queTitulo {
  color: #9a1ca5;
  background-color: white;
}

main .row .main__que .main__queTexto {
  background-color: white;
  height: 100%;
}

main .row .main__carousel {
  padding: 0% !important;
  padding: 0% !important;
}

main .row .main__carousel .main__carouselLetrasbox {
  background-color: rgba(255, 255, 255, 0.432);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 1px #9a1ca5;
          box-shadow: 0px 0px 15px 1px #9a1ca5;
}

main .row .main__carousel .main__carouselLetrasbox .main__carouselLetrasbox__titulo {
  color: #9a1ca5;
  font-size: 2em;
}

main .row {
  width: 100%;
  margin-left: 0% !important;
}

main .row .opinion {
  background-color: #9a1ca5;
  color: white;
  padding: 10px;
}

main .row .opinion .opinion__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .row .opinion .opinion__icono {
  color: #eb9422;
}

main .row .opinion .opinion__carouselItem {
  padding: 20px !important;
}

main .postulado {
  background-color: #eb9422;
  width: 100%;
  text-align: center;
}

main .postulado .postulado__titulo {
  color: white;
}

main .postulado .postulado__boton {
  border-color: white;
  color: white;
}

main .postulado .postulado__boton:hover {
  background-color: #9a1ca5;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=main.css.map */