@keyframes efectoLogo{
    0%{
        opacity: 50%;
    }
    10%{
        opacity: 60%;
    }
    25%{
        opacity: 75%;
    }
    40%{
        opacity: 85%;
    }
    50%{
        opacity: 100%;
    }
    60%{
        opacity: 85%;
    }
    75%{
        opacity: 75%;
    }
    90%{
        opacity: 60%;
    }
    100%{
        opacity: 50%;
    }
}