.mainCategorias{
    display: flex;
    justify-content: space-around;

    .mainCategorias__card{
        border: 2px solid $Naranja !important;
        margin-top: 70px;
        &:hover{
            box-shadow: 0px 0px 15px 1px $Naranja !important;
            .card__img{
                transform: scale(1.1,1.1);
                transition: 0.2s;
            }
        }

        .card__titulo{
            color: $Morado;
        }

        .card__boton{
            border: 1px solid $Morado;
            background-color: white;
            color: $Morado;
            display: flex;
            justify-self: center;
            align-self: flex-end;
            &:hover{
                background-color: $Naranja;
                color: white;
                border-color: $Naranja;
            }
        }
    }
}